@charset "UTF-8";

:root {
    --cor-hover-letra: hsl(178, 100%, 50%);
    --cor-paragrafo: hsl(215, 51%, 70%);
    --cor-main: hsl(217, 54%, 11%);
    --cor-card-bg: hsl(216, 50%, 16%);
}

@media screen and (min-width: 1024px) {

    .imagens {
        position: relative;
        width: 300px;
        margin: auto;
    }

    #imgnft:hover {
        opacity: 50%;
    }

    .olho{
        opacity: 0%;
        position: absolute;
        background-color: #00e8e461;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: calc(100% - 13.2px);
        transform: translateY(10px);
    }
    
    .olho:hover{
        opacity: 100%;
    }

    #child {
        width: 25%;
    }

    #author:hover, h1:hover{
        color: var(--cor-hover-letra);
        cursor: pointer;
    }
}