@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Hanken Grotesk', sans-serif;
    text-decoration: none
}

@import url('https://fonts.google.com/specimen/Outfit');
/* font-family: 'Hanken Grotesk', sans-serif; */

:root {
    --cor-hover-letra: hsl(178, 100%, 50%);
    --cor-paragrafo: hsl(215, 51%, 70%);
    --cor-main: hsl(217, 54%, 11%);
    --cor-card-bg: hsl(216, 50%, 16%);
}

body {
    background-color: var(--cor-main);
}

section#container {
    height: 100vh;
    width: 100%;
    
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#child {
    width: 90%;
    background-color: var(--cor-card-bg);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.infos {
    margin: auto;
    width: 300px;
}

.infos > h1, p {
    text-align: left;
    margin: 10px 0px;
}

.infos > h1 {
    color: white;
    margin: 20px 0px;
}

.infos > p {
    font-size: 18px;
}

p {
    color: var(--cor-paragrafo);
}

.alinhamento {
    display: flex;
    align-items: center;
    color: var(--cor-paragrafo);
    font-weight: 600;
    justify-content: space-between;
    margin-top: 15px;
}

hr {
    border: 1px solid;
    margin-top: 10px;
    margin-bottom: 20px;
}

.alinhamento svg {
    margin: 0px;
}

#valor {
    color: var(--cor-hover-letra);
    margin-right: 100px;
}

#imgnft {
    margin-top: 10px;
    width: 300px;
    border-radius: 10px;
}


#sectionauthor {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#sectionauthor > p {
    font-weight: 400;
}

#imgauthor {
    width: 37px;
    margin-right: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

#author {
    color: white;
}

footer > p {
    text-align: center;
    color: white;
}

footer > p > a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}