@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

h1, p {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    font-size: 18px;
    background-color: hsl(221, 100%, 96%);
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#conteudo {
    display: flex;
    background-color: white;
}

#result {
    width: 200px;
    text-align: center;
    padding: 20px 30px;
    border-radius: 20px;
    background: linear-gradient(to top, hsl(241, 81%, 54%),hsl(252, 67%, 57%));
}

.corgray {
    color: rgba(255, 255, 255, 0.664);
    font-size: 15px;
}

#descricao {
    font-size: 14px;
    padding-bottom: 10px;
}

#yourresult {
    padding: 10px 0px 20px 0px;
}

.resultado {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    color: white;
    background-color: hsla(252, 70%, 46%, 0.61);
    width: 140px;
    height: 140px;
    border-radius: 50%;
}

#result01 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    height: 4vh;
    padding-bottom: 14px;
}

#result02 {
    color: rgba(255, 255, 255, 0.664);
    font-size: 14px;
}
.great {
    color: white;
    padding: 15px 0px;
    font-size: 1.3em;
    font-weight: bolder;
}

#summary {
    background-color: white;
    padding: 20px 37px;
}

#summary > h1 {
    margin-bottom: 10px;
}

.descritestes {
    width: 200px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text-icon {
    margin-right: 10px;
}

.text {
    flex-grow: 1;
}

.score {
    white-space: nowrap;
}