@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

@import url('https://fonts.google.com/specimen/Hanken+Grotesk');

h1, p {
    font-family: 'Hanken Grotesk', sans-serif;
}

body {
    background-color: hsl(221, 100%, 96%);
    font-size: 18px;
}

#container {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#conteudo {
    display: flex;

    background-color: white;
    border-radius: 20px;
}

#result {
    width: 200px;

    text-align: center;
    padding: 20px 30px;
    border-radius: 20px;
    
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 67%, 57%));
}

.corgray {
    color: rgba(255, 255, 255, 0.664);
    font-size: 15px;
}

#descricao {
    font-size: 14px;
    padding-bottom: 10px;
}

#yourresult {
    padding: 10px 0px 20px 0px;
}

.resultado {
    background-color: hsla(252, 70%, 46%, 0.61);
    color: white;

    width: 140px;
    height: 140px;
    margin: auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#result01 {
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 3em;
    font-weight: bolder;
    padding-bottom: 14px;

    height: 4vh;
}

#result02 {
    color: rgba(255, 255, 255, 0.664);
    font-size: 14px;
}

.great {
    color: white;

    padding: 15px 0px;
    font-size: 1.3em;
    font-weight: bolder;
    margin-top: 10px;
}

#summary {
    padding: 30px 37px;
}

#summary>h1 {
    margin-bottom: 20px;
    font-size: 1em;
}

.descritestes {
    width: 220px;

    display: flex;
    align-items: center;

    margin-bottom: 15px;
    padding: 10px;
    border-radius: 10px;
}

.text-icon {
    margin-right: 10px;
}

.text {
    flex-grow: 1;
}

.reaction {
    background-color: hsla(0, 100%, 67%, 0.050);
    color: hsl(0, 100%, 67%);
}

.memory {
    background-color: hsl(39, 100%, 56%, 0.050);
    color: hsl(39, 100%, 56%);
}

.verbal {
    background-color: hsl(166, 100%, 37%, 0.050);
    color: hsl(166, 100%, 37%);
}

.visual {
    background-color: hsl(234, 85%, 45%, 0.050);
    color: hsl(234, 85%, 45%);
}

.score {
    white-space: nowrap;
}

.numscore {
    color: black;
}

.semnada {
    color: gray;
}

#buttom {
    background-color: hsl(224, 30%, 27%);
    color: white;

    font-size: 0.9em;
    font-weight: bolder;
    text-align: center;
    
    padding: 10px;
    border-radius: 20px;
}

#buttom:hover {
    background: linear-gradient(to top, hsl(241, 81%, 54%), hsl(252, 67%, 57%));
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    #container {
        display: flex;
        height: 100%;
        margin: auto;
    }

    #result {
        border-radius: 0px;
    }

    #conteudo {
        width: 260px;
        flex-direction: column;
        background-color: hsl(221, 100%, 96%);
    }

    #summary {
        padding: 20px;
        background-color: white;

    }

    .descritestes {
        width: 200px;
    }
}